<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniApp.telefonoservizi.home.title">Telefonoservizis</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-telefonoservizi" [routerLink]="['/telefonoservizi/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="telefoniApp.telefonoservizi.home.createLabel">
            Create new Telefonoservizi
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="telefonoservizis">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="altro"><span jhiTranslate="telefoniApp.telefonoservizi.altro">Altro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefono.numero"><span jhiTranslate="telefoniApp.telefonoservizi.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="servizi.nome"><span jhiTranslate="telefoniApp.telefonoservizi.servizi">Servizi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let telefonoservizi of telefonoservizis ;trackBy: trackId">
                <td><a [routerLink]="['/telefonoservizi', telefonoservizi.id, 'view' ]">{{telefonoservizi.id}}</a></td>
                <td>{{telefonoservizi.altro}}</td>
                <td>
                    <div *ngIf="telefonoservizi.telefono">
                        <a [routerLink]="['../telefono', telefonoservizi.telefono?.id, 'view' ]" >{{telefonoservizi.telefono?.numero}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="telefonoservizi.servizi">
                        <a [routerLink]="['../servizi', telefonoservizi.servizi?.id, 'view' ]" >{{telefonoservizi.servizi?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/telefonoservizi', telefonoservizi.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/telefonoservizi', telefonoservizi.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'telefonoservizi/'+ telefonoservizi.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="telefonoservizis && telefonoservizis.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
