<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="telefono">
            <h2><span jhiTranslate="telefoniApp.telefono.detail.title">Telefono</span> {{telefono.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniApp.telefono.numero">Numero</span></dt>
                <dd>
                    <span>{{telefono.numero}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniApp.telefono.dataattivazione">Dataattivazione</span></dt>
                <dd>
                    <span>{{telefono.dataattivazione}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniApp.telefono.datacessazione">Datacessazione</span></dt>
                <dd>
                    <span>{{telefono.datacessazione}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniApp.telefono.intestatariocontratto">Intestatariocontratto</span></dt>
                <dd>
                    <span>{{telefono.intestatariocontratto}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniApp.telefono.numerocontratto">Numerocontratto</span></dt>
                <dd>
                    <span>{{telefono.numerocontratto}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniApp.telefono.utenza_telefono">Utenza Telefono</span></dt>
                <dd>
                    <div *ngIf="telefono.utenza_telefono">
                        <a [routerLink]="['/utenza', telefono.utenza_telefono?.id, 'view']">{{telefono.utenza_telefono?.uid}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniApp.telefono.istituto_telefono">Istituto Telefono</span></dt>
                <dd>
                    <div *ngIf="telefono.istituto_telefono">
                        <a [routerLink]="['/istituto', telefono.istituto_telefono?.id, 'view']">{{telefono.istituto_telefono?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/telefono', telefono.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
