<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="telefono">
            <h2><span jhiTranslate="telefoniaApp.telefono.detail.title">Telefono</span> {{telefono.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.telefono.numero">Numero</span></dt>
                <dd>
                    <span>{{telefono.numero}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.telefono.dataAttivazione">Data Attivazione</span></dt>
                <dd>
                    <span>{{telefono.dataAttivazione}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.telefono.dataCessazione">Data Cessazione</span></dt>
                <dd>
                    <span>{{telefono.dataCessazione}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.telefono.intestatarioContratto">Intestatario Contratto</span></dt>
                <dd>
                    <span>{{telefono.intestatarioContratto}}</span>
                </dd>
                <!--<dt><span jhiTranslate="telefoniaApp.telefono.numeroContratto">Numero Contratto</span></dt>
                <dd>
                    <span>{{telefono.numeroContratto}}</span>
                </dd>-->
                <dt><span jhiTranslate="telefoniaApp.telefono.cdsuo">Cdsuo</span></dt>
                <dd>
                    <span>{{telefono.cdsuo}}</span>
                </dd>
                <!--<dt><span jhiTranslate="telefoniaApp.telefono.deleted">Deleted</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{telefono.deleted}}</span>-->
                <!--</dd>-->
                <!--<dt><span jhiTranslate="telefoniaApp.telefono.deletedNote">Deleted Note</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{telefono.deletedNote}}</span>-->
                <!--</dd>-->
                <dt><span jhiTranslate="telefoniaApp.telefono.utilizzatoreUtenza">Utilizzatore Utenza</span></dt>
                <dd>
                    <span>{{telefono.utilizzatoreUtenza}}</span>
                </dd>
                <!--<dt><span jhiTranslate="telefoniaApp.telefono.contratto">Contratto</span></dt>
                <dd>
                    <div *ngIf="telefono.contratto">
                        <a (click)="openFile(telefono.contrattoContentType, telefono.contratto)" jhiTranslate="entity.action.open">open</a>
                        {{telefono.contrattoContentType}}, {{byteSize(telefono.contratto)}}
                    </div>
                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/telefono', telefono.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
