<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-telefono-servizi-heading" jhiTranslate="telefoniaApp.telefonoServizi.home.createOrEditLabel">Create or edit a Telefono Servizi</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!telefonoServizi.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="telefonoServizi.id" readonly />
                </div>
                <div class="card border-primary mt-1">
                    <div class="card-header text-white bg-primary">
                        Dati Telefono
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <div class="form-group">

                                    <label class="form-control-label" jhiTranslate="telefoniaApp.telefonoServizi.telefono" for="field_telefono">Telefono</label>

                                    <select [(ngModel)]="telefonoServizi.telefono" class="form-control" name="telefono" required>
                                        <option *ngIf="!editForm.value.telefono" [ngValue]="null" selected></option>
                                        <option *ngFor="let i of telefono; trackBy: trackTelefonoById" [ngValue]="i.id === telefonoServizi.telefono?.id ? telefonoServizi.telefono : i">{{i.numero}} - {{i.utilizzatoreUtenza}}</option>
                                    </select>

                                </div>
                                <div [hidden]="!(editForm.controls.telefono?.dirty && editForm.controls.telefono?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.telefono?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-13">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="telefoniaApp.telefonoServizi.servizi" for="field_servizi">Servizi</label>
                                    <select class="form-control" id="field_servizi" name="servizi" [(ngModel)]="telefonoServizi.servizi"  required>
                                        <option *ngIf="!editForm.value.servizi" [ngValue]="null" selected></option>
                                        <option [ngValue]="serviziOption.id === telefonoServizi.servizi?.id ? telefonoServizi.servizi : serviziOption" *ngFor="let serviziOption of servizis; trackBy: trackServiziById">{{serviziOption.nome}}</option>
                                    </select>
                                </div>
                                <div [hidden]="!(editForm.controls.servizi?.dirty && editForm.controls.servizi?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.servizi?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <!--<div class="form-group col-md-3">
                                <label class="form-control-label" jhiTranslate="telefoniaApp.telefonoServizi.altro" for="field_altro">Altro</label>
                                <input type="text" class="form-control" name="altro" id="field_altro"
                                       [(ngModel)]="telefonoServizi.altro" />
                            </div>-->
                            <div class="form-group col-md-5">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="telefoniaApp.telefonoServizi.dataInizio" for="field_dataInizio">Data Inizio</label>
                                    <div class="input-group">
                                        <input id="field_dataInizio" type="text" class="form-control" name="dataInizio" ngbDatepicker  #dataInizioDp="ngbDatepicker" [(ngModel)]="telefonoServizi.dataInizio"
                                               required/>
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" (click)="dataInizioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                        </span>
                                    </div>
                                    <div [hidden]="!(editForm.controls.dataInizio?.dirty && editForm.controls.dataInizio?.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!editForm.controls.dataInizio?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="telefoniaApp.telefonoServizi.dataFine" for="field_dataFine">Data Fine</label>
                                    <div class="input-group">
                                        <input id="field_dataFine" type="text" class="form-control" name="dataFine" ngbDatepicker  #dataFineDp="ngbDatepicker" [(ngModel)]="telefonoServizi.dataFine"
                                               required/>
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" (click)="dataFineDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                        </span>
                                    </div>
                                    <div [hidden]="!(editForm.controls.dataFine?.dirty && editForm.controls.dataFine?.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!editForm.controls.dataFine?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <button type="button" id="cancel-save" class="btn btn-outline-secondary col-md-5"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-outline-primary col-md-5 ml-auto">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
