<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.operatore.home.title">Operatores</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operatore" [routerLink]="['/operatore/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="telefoniaApp.operatore.home.createLabel">
            Create new Operatore
            </span>
        </button>
    </h2>
    <div *jhiHasAnyAuthority="['ROLE_ADMIN']">
    <input type="text" name="anno" [(ngModel)]="anno"> <button jhiTranslate="telefoniaApp.operatore.cerca" (click)="telefonoAnno(anno)" class="btn btn-danger btn-sm">
        <span class="d-none d-md-inline" jhiTranslate="entity.action.noComplete">no Completata</span>
    </button>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="operatores">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="telefoniaApp.operatore.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataFine"><span jhiTranslate="telefoniaApp.operatore.dataFine">Data Fine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroContratto"><span jhiTranslate="telefoniaApp.operatore.numeroContratto">Numero Contratto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contratto"><span jhiTranslate="telefoniaApp.operatore.contratto">Contratto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefonoOperatore.numero"><span jhiTranslate="telefoniaApp.operatore.telefonoOperatore">Telefono Operatore</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="listaOperatori.nome"><span jhiTranslate="telefoniaApp.operatore.listaOperatori">Lista Operatori</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operatore of operatores ;trackBy: trackId">
                <td><a [routerLink]="['/operatore', operatore.id, 'view' ]">{{operatore.id}}</a></td>
                <td>{{operatore.data | date:'mediumDate'}}</td>
                <td>{{operatore.dataFine | date:'mediumDate'}}</td>
                <td>{{operatore.numeroContratto}}</td>
                <td>
                    <a *ngIf="operatore.contratto" (click)="openFile(operatore.contrattoContentType, operatore.contratto)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="operatore.contratto">{{operatore.contrattoContentType}}, {{byteSize(operatore.contratto)}}</span>
                </td>
                <td>
                    <div *ngIf="operatore.telefonoOperatore">
                        <a [routerLink]="['../telefono', operatore.telefonoOperatore?.id, 'view' ]" >{{operatore.telefonoOperatore?.numero}} - {{operatore.telefonoOperatore?.utilizzatoreUtenza}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operatore.listaOperatori">
                        <a [routerLink]="['../lista-operatori', operatore.listaOperatori?.id, 'view' ]" >{{operatore.listaOperatori?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['/operatore', operatore.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/operatore', operatore.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'operatore/'+ operatore.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="operatores && operatores.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
