<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-operatore-heading" jhiTranslate="telefoniaApp.operatore.home.createOrEditLabel">Create or edit a Operatore</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!operatore.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="operatore.id" readonly />
                </div>
                <div class="card border-primary mt-1">
                    <div class="card-header text-white bg-primary">
                        Dati Telefono
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="telefoniaApp.operatore.telefonoOperatore" for="field_telefonoOperatore">Telefono Operatore</label>
                                    <select class="form-control" id="field_telefonoOperatore" name="telefonoOperatore" [(ngModel)]="operatore.telefonoOperatore"  required>
                                        <option *ngIf="!editForm.value.telefonoOperatore" [ngValue]="null" selected></option>
                                        <option [ngValue]="telefonoOption.id === operatore.telefonoOperatore?.id ? operatore.telefonoOperatore : telefonoOption" *ngFor="let telefonoOption of telefonos; trackBy: trackTelefonoById">{{telefonoOption.numero}} - {{telefonoOption.utilizzatoreUtenza}}</option>
                                    </select>
                                </div>
                                <div [hidden]="!(editForm.controls.telefonoOperatore?.dirty && editForm.controls.telefonoOperatore?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.telefonoOperatore?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="telefoniaApp.operatore.listaOperatori" for="field_listaOperatori">Lista Operatori</label>
                                    <select class="form-control" id="field_listaOperatori" name="listaOperatori" [(ngModel)]="operatore.listaOperatori"  required>
                                        <option *ngIf="!editForm.value.listaOperatori" [ngValue]="null" selected></option>
                                        <option [ngValue]="listaOperatoriOption.id === operatore.listaOperatori?.id ? operatore.listaOperatori : listaOperatoriOption" *ngFor="let listaOperatoriOption of listaoperatoris; trackBy: trackListaOperatoriById">{{listaOperatoriOption.nome}}</option>
                                    </select>
                                </div>
                                <div [hidden]="!(editForm.controls.listaOperatori?.dirty && editForm.controls.listaOperatori?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.listaOperatori?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-control-label" jhiTranslate="telefoniaApp.operatore.data" for="field_data">Data</label>
                                <div class="input-group">
                                    <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker  #dataDp="ngbDatepicker" [(ngModel)]="operatore.data"
                                    />
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <button type="button" id="cancel-save" class="btn btn-outline-secondary col-md-5"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-outline-primary col-md-5 ml-auto">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
